body{
    background:rgb(0, 184, 245);
}
.media{
    display: inline;
    width:100px;
    height:100px;
}
.label-city{
    font-size: 25px;
}
.jumbotron{
    background:linear-gradient(45deg,rgb(69, 69, 238),rgb(2, 66, 66));
    color:white;
}
.card{
    background:rgb(0, 184, 245);
    color:white;
    border:none;
    box-shadow: 
    inset 0 0 15px rgba(8, 41, 78, 0), 
    inset 0 0 20px rgba(255, 255, 255, 0), 
    10px 10px 15px rgba(32, 54, 121, 0.15), 
    -10px -10px 22px rgb(112, 190, 243), 
    inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}
.card-head{
    border:none;
}
.card-body{
    height:0px;
    transition-duration:2s;
}
.weather-container{
    display: none;
    transition-duration: 1s;
}
.icon{
    width:100px;
    height: 90px;
    
}
.weather{
    font-size:20px;
}
.temp,.temp-out{
    font-size:20px;
    font-family:"Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.fa-circle-o{
    font-size:10px;
}
.man{
    position: relative;
    height: 100px;
    
}